html, body, div.surface, div.panel {
    height: 100%;
    margin: 0;
}

div.panel {
    padding: 15px;
}

#timezone{
    color: rgb(238, 26, 26);    
    box-shadow: none;
    margin: 0px;
    padding: 0px 28px 0px 8px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(96, 94, 92);
    border-radius: 2px;
    cursor: pointer;
    display: block;
    height: 32px;
    line-height: 30px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}